#header2{
    margin-top: 0;
    padding: 20px 0;
    border: none;
    border-bottom: 2px solid rgb(48, 27, 133);
    width: unset;
    font-size: 25px;
    margin: 0 !important;
}

.table tbody tr td{
    font-size: 14px;
}